.main {
    padding: 0px 165px;
}

/* HERO */

.hero {
    background-image: url(../../assets/home/image-homepage-hero.jpg);
    min-height: calc(100vh - 132px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    align-items: end;
    justify-content: flex-end;
}

.hero__box {
    background-color: var(--ligth-grey-bg);
    width: 445px;
}

.hero__box .title-h1 {
    padding: 55px 27px 0px 27px;
    margin-bottom: 53px;
}


/* ABOUT */

.about {
    margin: 150px 0px;
}

.about__content {
    padding-top: 51px;
    margin-left: 140px;
}

.about__content .text-1 {
    margin-top: 28px;
    margin-bottom: 24px;
}



